body {
  font-family: 'David Libre', serif;
}

.current {
  align-content: center;
  margin-top: 50px;
}

.row {
  text-align: center;
  font-size: large;
}

.navbar {
  margin-top: 30px;
}

.city {
  font-size: 35px;
  text-decoration-line: underline;
}

.current-temp{
  font-size: 25px;
}

.current-emoji {
  font-size: 50px;
}

.future-emoji {
  font-size: 25px;
}

td {
  vertical-align: center;
}

.current-date {
  font-size: 15px;
  line-height: 7px;
}

